---
import Foreground from '../components/Foreground.astro';
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <div class="h-auto sm:h-svh">
    <Header />
    <Foreground />
    <Footer />
  </div>
</Layout>
