---
import Button from './link/Button.astro';
---

<div class="flex min-h-screen items-center justify-center">
  <div class="mx-10 w-md sm:w-xl flex flex-col items-center gap-4">
    <p
      class="text-center text-balance text-lg sm:text-xl font-medium text-white select-none"
    >
      Tu smo da budemo svetlo u medijskom mraku.
    </p>
    <Button platform="website" />
    <Button platform="youtube" />
    <Button platform="instagram" />
    <Button platform="facebook" />
    <Button platform="threads" />
  </div>
</div>
