---
import { socialPlatforms } from '../../config/socials';
import ErrorIcon from '../../assets/icons/generic-website.svg';

const { platform = '', ...props } = Astro.props;

const platformKey = platform.toLowerCase();
const platformData = socialPlatforms[platformKey] ?? {
  href: '#error',
  text: 'Error',
  icon: ErrorIcon,
};
---

<a
  href={platformData.href}
  target="_blank"
  rel="noopener noreferrer"
  class={`button relative w-full flex gap-2 px-5 py-3 rounded-full transition-colors ${platformKey}`}
  {...props}
>
  <span
    aria-hidden="true"
    class={`absolute inset-0 rounded-full transition-colors button ${platformKey}`}
    style="filter: blur(1px);"
  >
  </span>

  <span
    class="relative w-full flex justify-between items-center gap-2 text-white"
  >
    <span class="text-[5cqw] min-[320px]:text-2xl font-bold select-none">
      {platformData.text}
    </span>
    <div class="flex justify-center items-center w-6 min-[320px]:w-8">
      {
        platformData.icon && (
          <platformData.icon class="size-6 min-[320px]:size-8" />
        )
      }
    </div>
  </span>
</a>

<style>
  a.button {
    transition: opacity 0.3s ease;
  }

  a.button:hover {
    opacity: 0.6;
  }

  /* 
    Add class "span.[your-service-name]" with its background
    color or gradient if your button was not defined at all
  */

  span.website {
    background-color: #50c2be;
  }

  span.youtube {
    background-color: #ff0000;
  }

  span.instagram {
    background: linear-gradient(
      45deg,
      #feda75,
      #fa7e1e,
      #d62976,
      #962fbf,
      #4f5bd5
    );
  }

  span.facebook {
    background-color: #1877f2;
  }

  span.threads,
  span.email {
    background-color: black;
  }
</style>
