---
import { contactPlatforms, socialPlatforms } from '../../config/socials';
import ErrorIcon from '../../assets/icons/error.svg';

const { platform = '', type = 'social', ...props } = Astro.props;

const platforms = type === 'contact' ? contactPlatforms : socialPlatforms;
const platformKey = platform.toLowerCase();
const platformDataRaw = platforms[platformKey];

const platformError = {
  href: '#error',
  text: 'Error',
  icon: ErrorIcon,
};

const isNonEmptyString = (val: any) =>
  typeof val === 'string' && val.trim() !== '';

const isValidPlatformData =
  platformDataRaw &&
  isNonEmptyString(platformDataRaw.href) &&
  isNonEmptyString(platformDataRaw.text) &&
  platformDataRaw.icon;

const platformData = isValidPlatformData ? platformDataRaw : platformError;
---

<a
  href={platformData.href}
  target="_blank"
  rel="noopener noreferrer"
  class={`button relative w-full flex gap-2 px-5 py-3 rounded-full transition-colors ${platformKey}`}
  {...props}
>
  <span
    aria-hidden="true"
    class={`button absolute inset-0 rounded-full transition-colors ${platformKey}`}
    style="filter: blur(1px);"
  >
  </span>

  <span
    class="relative w-full flex justify-between items-center gap-2 text-white"
  >
    <span class="text-[5cqw] min-[320px]:text-2xl select-none">
      {platformData.text}
    </span>
    <div class="flex justify-center items-center w-6 min-[320px]:w-8">
      {
        platformData.icon && (
          <platformData.icon class="size-6 min-[320px]:size-8" />
        )
      }
    </div>
  </span>
</a>

<style>
  span.button {
    background-color: black;
  }

  a.button {
    transition: opacity 0.3s ease;
  }

  a.button:hover {
    opacity: 0.6;
  }

  /* 
    Add class "span.[your-service-name]" with its background
    color or gradient if your button was not defined at all
  */

  span.website {
    background-color: #50c2be;
  }

  span.youtube {
    background-color: #ff0000;
  }

  span.instagram {
    background: linear-gradient(
      45deg,
      #feda75,
      #fa7e1e,
      #d62976,
      #962fbf,
      #4f5bd5
    );
  }

  span.facebook {
    background-color: #1877f2;
  }

  span.threads {
    background-color: black;
  }
</style>
