---
import { socialPlatforms } from '../../config/socials';
import ErrorIcon from '../../assets/icons/generic-website.svg';

const { platform = '', ...props } = Astro.props;

const platformKey = platform.toLowerCase();
const platformData = socialPlatforms[platformKey] ?? {
  href: '#error',
  text: 'Error',
  icon: ErrorIcon,
};
---

<a
  href={platformData.href}
  target="_blank"
  rel="noopener noreferrer"
  class={`relative w-full flex justify-center gap-2 px-5 py-3 rounded-full transition-colors ${platformKey}`}
  {...props}
>
  <span
    aria-hidden="true"
    class={`absolute inset-0 rounded-full transition-colors ${platformKey}`}
    style="filter: blur(3px);"></span>

  <span class="relative flex items-center gap-2 text-white">
    {platformData.icon && <platformData.icon class="w-8 h-8" />}
    <span class="text-xl min-[360px]:text-3xl font-bold select-none">
      {platformData.text}
    </span>
  </span>
</a>

<style>
  /* Background colors for each platform */
  span.youtube {
    background-color: #ff0000;
  }

  span.facebook {
    background-color: #1877f2;
  }

  span.instagram {
    background: linear-gradient(
      45deg,
      #feda75,
      #fa7e1e,
      #d62976,
      #962fbf,
      #4f5bd5
    );
  }

  span.threads {
    background-color: black;
  }

  span.website {
    background-color: #50c2be;
  }

  /* Shared transition effect for <a> elements */
  a.youtube,
  a.facebook,
  a.instagram,
  a.threads,
  a.website {
    transition: opacity 0.3s ease;
  }

  /* Hover opacity */
  a.youtube:hover,
  a.facebook:hover,
  a.instagram:hover,
  a.threads:hover,
  a.website:hover {
    opacity: 0.6;
  }
</style>
