name: Link Check

on:
  repository_dispatch:
  workflow_dispatch:
  schedule:
    - cron: '00 18 * * *'

jobs:
  lychee-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: Install dependencies
        run: pnpm i --frozen-lockfile

      - name: Build
        run: pnpm run build

      - name: Link check
        uses: lycheeverse/lychee-action@v2
        with:
          args: --verbose --base-url 'https://link.blokada.info' --accept 200,429 'dist/**/*.html'
          fail: true
